

@keyframes move-text-color {
    0% {
      bottom: -1.5rem;
      opacity: 0;
    }
    
    50% {
      bottom: 0.2rem;
    }
  
    100% {
      bottom: 0;
      opacity: 1;      
    }
  }

.rolling-span { 
    position: relative;
    bottom: -1.5rem;
    opacity: 0;
    animation: move-text-color 1.75s forwards;
}
.rolling-span:nth-child(2n) { 
    animation: move-text-color 1.75s forwards;
}