.App {
  text-align: left;
  font-size: 1rem;
}
:root {
   --color1: #77DD76;
   --color2: #A6eca8;
   --color3: #d2fdbb;
   --color4: #fbfde1;
   --color5: #fdfd97;
}

body {
	/*background: linear-gradient(-45deg, #fdfd9711, #fdfd9711, #fdfd9722, #fdfd9711);*/
	background-size: 400% 400%;
	animation: appGradient 105s ease infinite;
	height: 100vh;
  animation: fadeInFromNone 1s linear;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 30%);  
}
@keyframes appGradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

@keyframes fadeInFromNone {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.ant-card-head {
  background: linear-gradient(-90deg, #4000ff55, #9500ff05, #4000ff05, #9500ff15);
	background-size: 500% 500%;
  animation-name: fadeInFromNone, appGradient;
  animation-duration: 0.5s, 21s;
  animation-iteration-count: 1, infinite;
  animation-delay: 0s, 0.5s; /* add this */
  animation-timing-function: ease-in, ease-in-out;
}

.ant-card-body {
  background: linear-gradient(-45deg, #9500ff05, #4000ff15, #9500ff05, #4000ff05);
	background-size: 400% 400%;
  opacity: 1;
  animation-name: fadeInFromNone, appGradient;
  animation-duration: 1s, 42s;
  animation-iteration-count: 1, infinite;
  animation-delay: 0s, 1s; /* add this */
  animation-timing-function: ease-in, ease-in-out;  
}

iframe {
  visibility: hidden;
}

.mailIdenticon {
  top: 0.7rem;
  position: relative;
}

.wmde-markdown {
  color: inherit;
  background-color: transparent;
}

.largerModal {
  max-width: 80%;
}

.podItem {
  cursor: pointer;
  color:rgb(183, 106, 255);
}

.podItem:hover {
  color:blueviolet;
}

.podItemLogoImage {
  width: 100%;
  height: 100%;
  position: absolute;
  color: #ffffff33;
  padding: 0;
  margin: 0;
  top: 0px;
  left: 0px;
  color:#4000ff55;
  opacity: 0.2;
  background-color: #4000ff55;
  background-image: linear-gradient(
      rgba(189, 58, 255, 0.9),
      rgba(134, 185, 255, 0.0)
      )
}

@keyframes myAnimation{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0.9;
    color:#865eff;
    /* margin-bottom: 4px; */
    /* display: none; */
    /* transform: rotateX(90deg);  */
  }
}

.routeSubtitle {
    animation-name: myAnimation;
    animation-duration: 12000ms;
    animation-fill-mode: forwards;
}

@keyframes headerAnimation{
  0%{
    opacity: 0.7;
    color:#865dff;
  }
  100%{
    opacity: 1;
  }
}

h1 {
  animation-name: headerAnimation;
  animation-duration: 5000ms;
}
h2 {
  animation-name: headerAnimation;
  animation-duration: 7000ms;
}
h3 {
  animation-name: headerAnimation;
  animation-duration: 9000ms;
}

@keyframes paginationAnimation{
  0%{
    opacity: 0;
    margin-right: 0px;
  }
  100%{
    opacity: 0.9;
    color:#865eff;
    margin-right: 23px;
  }
}

.paginationInfo {
  float: right;
  margin-right: 10px;
  animation-name: paginationAnimation;
  animation-duration: 2000ms;
  animation-fill-mode: forwards; 
}

@keyframes dividerAnimation{
  0%{
    opacity: 0.5;
    margin-right: 25px;
    border-color:#865eff33;
  }
  50%{
    opacity: 0.9;
    border-color:#865effff;
    margin-right: 0px;
  }
  100%{
    opacity: 0.5;
    margin-right: 25px;
    border-color:#865eff33;
  }
}

.ant-menu > .ant-menu-item-divider {
  animation: 21s dividerAnimation ease-in infinite;
}

hr {
  animation: 5s dividerAnimation ease-in infinite;
}

@keyframes menuItemAnimation{
  0%{
    opacity: 0.7;
  }
  50%{
    opacity: 0.99;
  }
  100%{
    opacity: 0.7;
  }
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  animation: 1s menuItemAnimation ease-in infinite;
}