.App {
  text-align: center;
}

body {
	background: linear-gradient(-45deg, #ee775205, #e73c7e05, #23a6d505, #23d5ab05);
	background-size: 400% 400%;
	animation: appGradient 105s ease infinite;
	height: 100vh;
  animation: fadeInFromNone 0.5s linear;
}

@keyframes appGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes fadeInFromNone {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.ant-card-body {
  background: linear-gradient(-45deg, #ee775205, #e73c7e10, #23a6d505, #23d5ab10);
	background-size: 400% 400%;
	animation: appGradient 155s ease infinite;
  opacity: 1;
  /*transition: opacity 0.5s linear;*/
  animation: fadeInFromNone 0.95s linear;
  /* border-bottom-left-radius: 30px; */
  /* border-bottom-right-radius: 30px; */
}

.ant-card-head {
  background: linear-gradient(-90deg, #ee775210, #e73c7e05, #23a6d510, #23d5ab05);
	background-size: 400% 400%;
	animation: appGradient 35s ease infinite;
  animation: fadeInFromNone 0.5s linear;
}


body {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 30%);
}